<!DOCTYPE html>
<html>
  <head>
    <title>Accounting</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


		<body>
			<div class="logout">
				<h1><%= current_user.name %></h1>
				<%= link_to 'logout',	logout_path, method: :delete, data: { confirm: 'Are you sure you want to logout?' } %>
			</div>

			<div class="content">
				<br>
		  	<%= yield %>
			</div>
		</body>

</html>
